
style.css

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
    background-color: white;
    font-family: "Comic Sans MS", arial, verdana;
    
}

/****** Base styles ******/

h1 {
    text-align: center;
    margin-bottom: 15px;

}

div {
    overflow: hidden;
}


p {color: black;
  font-size: 0.75em;
  text-align: left;
  background-color: grey;
  border: 2px solid black;
  height: 75px;
  padding-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  overflow: hidden;
 
}

h2 {
    color: white;
    font-size:0.9em;
    text-align: center;
    border: 2px solid black;
    width: 75px;
    position: absolute; 
    top:0; right:0;
}

#container {
  position:relative;
}

#fallafel {
      background-color: #ce8092;
      color: black;
}

#burger {
    background-color: #cc264d;
    color: white;
}

#smoothies {
    background-color: #f4c242;
    color: black;
}

/****** Simple Responsive Framework *******/

.row {
  width: 100%;

}


/****** Large device only ******/
@media (min-width: 992px) {

h1 {  font-size: 1em
}

.col-lg-4 {
    float: left;
    width: 30%;
    margin-left: 15px;
    margin-right: 15px;
    height: auto;
  }

#container {
  position:relative;
 
}

  
}

/****** Medium device only ******/
@media (min-width: 768px) and (max-width: 991px) {
  
.col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: auto;
  }

  .col-md-12 {
    float: left;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: auto;
  }

  h1 {  font-size: 1.5em
}

}


/****** Small device only ******/
@media (max-width: 767px)  {

  .col-sm-12 {
    width: 90%;
    float: center;
    margin-left: 15px;
    margin-right: 15px;
    height: auto;
  }

   h1 {  font-size: 1.8em
}


}


